@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/*button{*/
/*  color: white;*/
/*}*/
.MuiTextField-root:focus {
    border-color: #31CACA;
}

.MuiImageListItem-img {
    width: 100px !important;
    height: auto;
}

.css-1lkgme2-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: #31CACA;
}

.css-1lkgme2-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: #31CACA;
}

.css-1lkgme2-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: #31CACA;
}
.remove-item-from-page-list{
    padding-left: 0!important;
}